@model E_Commerce_CuidadoConElPerro.Models.Prendum
@{
    ViewData["Title"] = "Actualizar Prenda";
}

<div class="text-center" style="margin-bottom: 20px">
    <h1>Prendas</h1>
    <img src="~/img/ropa-masculina.svg" style="width: 200px; height: 200px" alt="Alternate Text" />
</div>

<form asp-action="ActualizarPrenda" method="post" class="row g-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="IdPrenda" />
    <div class="col-md-6">
        <label for="validationDefault01" class="form-label">Nombre de la prenda</label>
        <input type="text" asp-for="NombrePrenda" class="form-control" id="validationDefault01" required>
    </div>
    <div class="col-md-6">
        <label for="validationDefault02" class="form-label">Género</label>
        <select class="custom-select" asp-for="Genero" id="validationDefault04" required>
            <option selected>Escoje un género</option>
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Precio</label>
        <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-dollar-sign"></i></span>
            <input type="number" class="form-control" asp-for="Precio" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
        </div>
    </div>
    <div class="col-md-8">
        <label for="validationDefault03" class="form-label">Descripción</label>
        <input type="text" asp-for="Descripcion" class="form-control" id="validationDefault03" required>
    </div>
    <div class="col-md-3">
        <label for="validationDefault05" class="form-label">Proveedor</label>
        <select class="custom-select" asp-for="IdProovedor" id="validationDefault05" required>
            <option selected disabled>Elije un proovedor</option>
            @foreach (Proovedor item in ViewBag.Proovedores)
            {
                <option value="@item.IdProovedor">@item.NombreProovedor</option>
            }

        </select>
    </div>
    <div class="col-md-2">
        <label for="validationDefault05" class="form-label">Cantidad</label>
        <input type="number" asp-for="Cantidad" class="form-control" id="validationDefault05" required>
    </div>

    <div class="col-md-2">
        <label for="validationDefault07" class="form-label">Talla</label>
        <select class="custom-select" asp-for="IdTalla" id="validationDefault07" required>
            <option selected disabled value="">Elija una talla</option>
            @foreach (Talla item in ViewBag.Tallas)
            {
                <option value="@item.IdTalla">@item.NombreTalla - @item.Descripcion</option>
            }
        </select>
    </div>

    <div class="col-md-5">
        <label for="validationDefault08" class="form-label">Departamento</label>
        <select class="custom-select" asp-for="IdDepartamento" id="validationDefault08" required>
            <option selected disabled value="">Elija un departamento</option>
            @foreach (Departamento item in ViewBag.Departamentos)
            {
                <option value="@item.IdDepartamento">@item.NombreDepartamento</option>
            }
        </select>
    </div>

    @*<div class="col-md-3">
            <label for="validationDefault06" class="form-label">Imagen</label>
            <input type="file" asp-for="Imagen" class="form-control-file" id="validationDefault06"/>
        </div>*@

<div class="btn-group-sm">
    <br />
    <button class="btn btn-primary" type="submit">Actualizar Prenda</button>
    <a asp-action="VerPrenda" class="btn btn-info">Regresar a la lista</a>
</div>


</form>
