@model IEnumerable<E_Commerce_CuidadoConElPerro.Models.Prendum>
@{
    ViewData["Title"] = "Bodega";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header text-center">
                Bodega
            </h1>
            <p class="text-center">
                En este apartado podremos ver todas las <b>prendas</b> de la bodega.
            </p>
            <div class="align-items-sm-center">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 160px">Prenda</th>
                            <th style="width: 160px">Genero</th>
                            <th style="width: 160px">Precio</th>
                            <th style="width: 160px">Cantidad</th>
                            <th style="width: 160px">Descripción</th>
                            <th style="width: 160px">Talla</th>
                            <th style="width: 160px">Departamento</th>
                            <th style="width: 160px">Proovedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NombrePrenda</td>
                                <td>@item.Genero</td>
                                <td>@item.Precio</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Descripcion</td>
                                <td>@item.IdTallaNavigation.NombreTalla</td>
                                <td>@item.IdDepartamentoNavigation.NombreDepartamento</td>
                                <td>@item.IdProovedorNavigation.NombreProovedor</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
