@model IEnumerable<E_Commerce_CuidadoConElPerro.Models.Departamento>
@{
    ViewData["Title"] = "Tienda";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
    ViewData["Name"] = @ViewBag.Nombre;
}
<section>
    <div class="bannerPrincipal">
        <div class="container align-content-sm-center" style="margin-top: 310px; margin-bottom: 310px;">
            <div class="container contenedor">
                <h1 class="text-center">Bienvenido</h1>
            </div>
        </div>
    </div>
</section>
<section id="carousel">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div style="height: 500px" class="jumbotron pulse animated hero-nature carousel-hero">
                    <div style="margin-top: 100px">
                        <h1 class="hero-title">El estilo empieza por ti.</h1>
                        <p class="hero-subtitle">Nunca es suficiente ropa.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div style="height: 500px" class="jumbotron pulse animated hero-photography carousel-hero">
                    <div style="margin-top: 100px">
                        <h1 class="hero-title">La elegancia radica en la sencillez</h1>
                        <p class="hero-subtitle"></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div style="height: 500px" class="jumbotron pulse animated hero-technology carousel-hero">
                    <div style="margin-top: 100px">
                        <h1 class="hero-title">Ropa de moda para gente de moda</h1>
                        <p class="hero-subtitle"><br /></p>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
        </ol>
    </div>
</section>

<section class="article-list banner1" style="height: 370px">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: black; font-size: 50px; font-weight: bold;">Cuidado con el perro</h2>
            <div class="row">
                <div class="col-6">
                    <a class="ml-5" href="#"><img class="img" src="~/img/cuidado-con-el-perro-seeklogo.com.svg" width="180"></a>
                </div>
                <div class="col-6">
                    <p class="text-center" style="color: white">Somos una nueva tienda de ropa en línea, nos basamos en conseguir ropa excluvisa y hacerla llegar a la puerta de tu casa.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr style="border: 3px solid" />
<h2 class="text-center" style="color: black; font-weight: bold; font-size: 50px"><strong>Departamentos</strong></h2>
<hr style="border: 3px solid" />
<div>
    <div class="carousel-inner" style="background-color:  rgb(216 213 213 / 0.00)">
        <div class="carousel-item active">
            <div>
                <div class="row product-list">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container" style="background-color: rgb(216 213 213 / 0.00)">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="@Url.Action("ObtenerFoto", new { id = item.IdDepartamento })"></a></div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <div class="text-center">
                                            <a style="color:rgb(0 0 0);font-size:25px;font-family:Abel, sans-serif; font-weight: bold;">@item.NombreDepartamento</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="border: 3px solid" />
<h2 class="text-center" style="color: black; font-weight: bold; font-size: 50px"><strong>Novedades</strong></h2>
<hr style="border: 3px solid" />

<div class="container mt-5">
    <div class="row">

        @foreach (Prendum item in ViewBag.queryTop)
        {
            <div class="col-md-3  model-card">
                <a asp-controller="Carrito" asp-action="AgregarCarrito" asp-route-id="@item.IdPrenda">
                    <div class="bsblox-image-effect16">
                        <img class="img-fluid" src="@Url.Action("ObtenerFotoPrenda", new { id = item.IdPrenda })" />

                        <div class="bsblox-caption">

                            <p style="color: black; font-weight: bold; font-size: 20px;">Agregar a carrito</p>
                        </div>
                        <div class="bsblox-links"><a class="profile-link" href="#1" style="font-size: 20px;"><i class="fas fa-cart-plus"></i></a></div>
                        <div class="text-center model-card-title">@item.NombrePrenda</div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div></div>
